apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: boardgame
  namespace: board-games
spec:
  replicas: 4

  strategy:
    canary:
      steps:
        - setWeight: 30
        - pause: {}

  selector:
    matchLabels:
      app: boardgame

  template:
    metadata:
      labels:
        app: boardgame
    spec:
      containers:
        - name: boardgame
          image: kamalakar2210/board_game:10
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: boardgame-ssvc
  namespace: board-games
  labels:
    app: boardgame
spec:
  selector:
    app: boardgame
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
